{
  "printWidth": 100,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.*.{ts,js}",
      "options": {
        "parser": "typescript",
        "trailingComma": "all",
        "arrowParens": "always",
        "singleQuote": true
      }
    },
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "bracketSpacing": true
      }
    }
  ]
}
